body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  display: flex;
  flex-direction: column;
}

.movie-card-details {
  display: flex;
  
}

.details-img {
  padding-right: 20px;
}